@model HouseServicesSigmaProject.Models.SubRegion

@{
    ViewBag.Title = "Index";
}

<hgroup class="title">
    <h2>@ViewBag.Message</h2>
</hgroup>



<div>
    <ul>
        <li>@Html.ActionLink("SubRegions", "Index", "SubRegions")</li>
        <li>@Html.ActionLink("Streets", "Index", "Streets")</li>
        <li>@Html.ActionLink("Houses", "Index", "Houses")</li>
        <li>@Html.ActionLink("Porches", "Index", "Porches")</li>
        <li>@Html.ActionLink("Apartments", "Index", "Apartments")</li>
    </ul>
    
   

</div>